Source: kylin-burner
Section: kde
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
Build-Depends: cmake,
               debhelper-compat (= 12),
               extra-cmake-modules (>= 5.56.0~),
               libavformat-dev,
               libcam-dev [kfreebsd-any],
               libdvdread-dev,
               libflac++-dev,
               libflac-dev,
               libkf5archive-dev (>= 5.56.0~),
               libkf5cddb-dev (>= 4:19.12.3~),
               libkf5config-dev (>= 5.56.0~),
               libkf5coreaddons-dev (>= 5.56.0~),
               libkf5doctools-dev (>= 5.56.0~),
               libkf5filemetadata-dev (>= 5.56.0~),
               libkf5i18n-dev (>= 5.56.0~),
               libkf5iconthemes-dev (>= 5.56.0~),
               libkf5jobwidgets-dev (>= 5.56.0~),
               libkf5kcmutils-dev (>= 5.56.0~),
               libkf5kio-dev (>= 5.56.0~),
               libkf5newstuff-dev (>= 5.56.0~),
               libkf5notifications-dev (>= 5.56.0~),
               libkf5notifyconfig-dev (>= 5.56.0~),
               libkf5service-dev (>= 5.56.0~),
               libkf5solid-dev (>= 5.56.0~),
               libkf5widgetsaddons-dev (>= 5.56.0~),
               libkf5xmlgui-dev (>= 5.56.0~),
	       libkf5windowsystem-dev (>= 5.56.0~),
               libqt5x11extras5-dev (>= 5.10.0~),
	       libx11-dev,
               libmad0-dev,
               libmp3lame-dev,
               libmpcdec-dev,
               libmusicbrainz5-dev,
               libgsettings-qt-dev,
               libqt5webkit5-dev (>= 5.10.0~),
               libsamplerate0-dev,
               libsndfile1-dev,
               libvorbis-dev,
               pkg-kde-tools (>= 0.15.16),
               qtbase5-dev (>= 5.10.0~),
               shared-mime-info,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://www.ukui.org
Vcs-Git: https://github.com/ukui/kylin-burner.git
Vcs-Browser: https://github.com/ukui/kylin-burner

Package: kylin-burner
Architecture: any
Depends: cdparanoia,
         libgsettings-qt-dev,
         cdrdao [linux-any],
         cdrskin,
         genisoimage,
	 dvd+rw-tools,
	 growisofs,
	 vcdimager,
         kylin-burner-data (= ${source:Version}),
         kylin-burner-i18n (= ${source:Version}),
         libkylin-burner7 (= ${binary:Version}),
         udisks2 [linux-any],
         wodim,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: kylin-burner-i18n, libkylin-burner7-extracodecs
Suggests: kylin-burner-extrathemes,
          kde-config-cddb,
          normalize-audio,
          sox,
Description: Sophisticated CD/DVD burning application
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.

Package: kylin-burner-data
Architecture: all
Depends: ${misc:Depends}
Replaces: kylin-burner-extrathemes , libkylin-burner7 
Description: Sophisticated CD/DVD burning application - data files
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.
 .
 This package contains the required data files common to all architectures.

Package: kylin-burner-extrathemes
Architecture: all
Depends: kylin-burner, ${misc:Depends}
Description: Sophisticated CD/DVD burning application - extra themes
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.
 .
 This package contains additional themes for KylinBurner.

Package: kylin-burner-i18n
Section: localization
Architecture: all
Depends: ${misc:Depends}
Description: Sophisticated CD/DVD burning application - localizations files
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.
 .
 This package contains translations files.

Package: libkylin-burner-dev
Section: libdevel
Architecture: any
Depends: libkylin-burner7 (= ${binary:Version}),
         ${misc:Depends},
Description: KDE CD/DVD burning application library - development files
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.
 .
 This package contains development files.

Package: libkylin-burner7
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: libkylin-burner7-extracodecs 
Description: KDE CD/DVD burning application library - runtime files
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.
 .
 This package contains runtime libraries.

Package: libkylin-burner7-extracodecs
Architecture: any
Depends: libkylin-burner7 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Replaces: kylin-burner-data 
Description: KDE CD/DVD burning application library - extra decoders
 KylinBurner provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable kylin burner defaults which allow a quick start.
 .
 This package contains runtime libraries for the MP3 and FFMPEG decoder plugin.
